.home {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;

	// 헤더
	&__header {
		color: $white-color;
		border-bottom: 0.1rem solid $gray-3;
	}

	// 컨텐츠
	&__content {
		flex: 1 1 auto;
		overflow-y: auto;
		height: 0px;
	}

	&__plus-btn {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 5rem !important;
		height: 5rem !important;
		margin: 0 1rem 1rem 0;
		// background-color: $blue-color;

		i {
			font-size: 2rem !important;
		}
	}
}

// transition
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}