@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Fonts
$noto: 'Noto Sans KR', sans-serif;
$poppins: 'Poppins', sans-serif;

// Vuetify Globals Vuetify에 자동으로 오버라이드 됨
$body-font-family: 'Montserrat', $noto;

// Size
$side-padding: 2rem;

// Colors
// 참고: https://yeun.github.io/open-color
$white-color: #fff;
$black-color: #222;
$red-color: #f03e3e;
$blue-color: #175cbe;
$gray-7: #495057;
$gray-6: #868e96;
$gray-5: #adb5bd;
$gray-3: #dee2e6;
$gray-1: #f1f3f5;
$orange-7: #f76707;
$blue-9: #1864ab;

// 독바
$dockbar-color: #e9ecef;

// 수입 색상
$income-color: $blue-color;

// 지출 색상
$outcome-color: $red-color;

// 이체 색상
$transfer-color: $black-color;

$transaction-box-shadow: rgb(0 0 0 / 12%) 0rem 0.1rem 0.3rem,
rgb(0 0 0 / 24%) 0rem 0.1rem 0.2rem;